
body {
    text-align: center;
    background-color: #011F3F;
  }
  
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    line-height: 1.5;
    color: #FEF2BF;
  }
  
  .container {
    display: block;
    width: 50%;
    margin: auto;
  
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }

  .form-container {
    position: absolute;
    z-index: 5;
    opacity: 0.1;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }

  @media (max-width: 904px) {
    #level-title {
      margin-top: 20%;
      font-size: 1.5rem;
    }
    .row {
      width: 400px;
    }
    .container {
      width: 400px;
    }
    .btn {
      margin: 5px;
      height: 100px;
      width: 100px; 
    }
  }

  @media (min-width: 905px) and (max-width: 1200px) {
    #level-title {
      font-size: 2rem;
    }
    .btn {
      margin: 15px;
      height: 150px;
      width: 150px;
    }
  }